my_venv/
*.log
*.sql
*.sqlite
*.db
*.sqlite3
.idea/
*.swp
*.swo
.vscode/
*.suo
*.user
*.userprefs
*.vcxproj
*.sln
*.csproj
*.vs/
.Python
build/
dist/
*.egg-info/
*.egg
.pytest_cache/
*.egg-info
__pycache__/
comics/
.env

